{$RECON_DOMAIN} {
    encode zstd gzip

    @metrics path /metrics
    respond @metrics 404

    request_body {
        max_size 1MB
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
    }

    reverse_proxy web:8000
}
